.App {
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 95%;
  max-width: 600px;
  margin: 10px auto;
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .App {
    padding: 10px;
    margin: 5px auto;
  }
}